.background {
    -fx-background-color: #084559;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Bold";
    -fx-text-fill: #FFD692;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #084559;
    -fx-control-inner-background: #084559;
    -fx-background-color: #084559;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #084559 transparent #084559;
    -fx-background-color: transparent, derive(#084559,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#084559,20%);
}

.context-menu {
    -fx-background-color: derive(#084559,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: #B23144;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
	-fx-background-color: derive(#084559,20%);
}

.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}


.root { -fx-focus-color: transparent; }

.textarea{

	-fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
	-fx-background-color: derive(#084559,20%);
}


.date-picker .text-field {
    -fx-control-inner-background: #084559 ;
}

.date-picker-popup > .month-year-pane {
   
    -fx-background-color:  derive(#084559,20%) ;
}

.date-picker-popup  {
   
    -fx-background-color: derive(#084559,20%) ;
}

.date-picker-popup > * > .date-cell {
	  -fx-background-color: derive(#084559,70%) ;
	  -fx-opacity: 1.0;
	  -fx-border-color: derive(#084559,70%) ;
}

.combo-box .list-cell 
{
    -fx-background: derive(#084559,20%);
    -fx-background-color: derive(#084559,20%);
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: derive(#084559,50%), derive(#084559,50%);
	-fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
} 

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: derive(#084559,20%);
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: derive(#084559,20%);
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base  
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: derive(#084559,20%), derive(#084559,20%), derive(#084559,20%), derive(#084559,20%);
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

.tab {
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -fx-font-size: 18;
  -fx-text-fill: #B23144;
  -fx-background-color:derive(#084559,50%);
}

.tab:selected {
    -fx-background-color:derive(#B23144,20%);

}

.scroll-bar{
     -fx-background-color: transparent;
}

.hbox-group {
    -fx-border-color: #FFD692;
	-fx-border-width: 5px;
	
}

.button {
	
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #084559;
    -fx-border-width: 2;
    -fx-background-radius: 30px;
    -fx-background-color: #B23144;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 11pt;
    -fx-text-fill: #084559;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-border-radius: 30px

}

.button:hover {
    -fx-background-color: derive(#B23144,50%);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: derive(#B23144,50%);
  -fx-text-fill: #084559;
}


.button:focused {
    -fx-border-color: #FFD692, #FFD692;
    -fx-border-width: 2;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 30px;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #084559;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(#B23144,50%);
}


